{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-hover center">
        <thead>
            <tr>
                <th>Type</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Number</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in transactions %}
                <tr>
                    <th>{{ stock["Energy"] }}</th>
                    <th>{{ stock["name"] }}</th>
                    <th>{{ stock["Protein"] }}</th>
                    <th>{{ stock["Total lipid (fat)"] }}</th>
                    <th>{{ stock["Carbohydrate, by difference"] }}</th>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}